//colors
$white: #fff;
$black: #000;
$orange: #FFB245;
$blue:#21516F;
$blueLight:#006FB5;
$silver: #E6E5E5;

$primary1:#4D4D4D;
$primary2:#3B3B3B;
$primary3:#434343;
$primary4:#2B2A2A;

$secondary1:#FE9D11;
$secondary2: #fe9d1126;

$thirdarly1:#4D4D4D;
$thirdarly2:#D9D9D9;