<header class="header header-second header-second-2">
  <div class="header__top">
        <a href="#" class="header__btnClose" data-action="control-sidebare">
            <span></span>
        </a>
        <a href="#" class="header__top__logo">
            <img src="./images/logo_small.svg" alt="logo_small">
        </a>
        <div class="header__top__profil">
          <a href="#">
              <img src="./images/user.png" alt="user">
              <span class="name">Johan Prince</span>
              <span class="mdi mdi-menu-down"></span>
          </a>
        </div>
  </div>
</header>