<header class="header header-second">
  <div class="header__top">
    <a href="#" class="header__top__logo">
      <img src="./images/logo_small.svg" alt="logo_small">
    </a>
    <div class="header__top__menu">
      <a href="./">HOME</a>
      <a href="#">iSTARS 4.0</a>
    </div>
    <div class="header__top__profil">
      <a href="#" data-action="control-user-menu">
        <img src="./images/user.png" alt="user">
        <span class="name">Johan Prince</span>
        <span class="mdi mdi-menu-down"></span>
      </a>
      <div class="user-menu" data-id="user-menu">
        <ul class="user-menu__list">
          <li class="user-menu__list-item">
            <a href="#" class="user-menu__list-item-link">
              <i class="icon icon-user"></i>
              <span class="user-menu__list-item-link">Profile</span>
            </a>
          </li>
          <li class="user-menu__list-item">
            <a href="#" class="user-menu__list-item-link">
              <i class="icon icon-dashboard"></i>
              <span class="user-menu__list-item-link">Dashboard</span>
            </a>
          </li>
          <li class="user-menu__list-item">
            <a href="#" class="user-menu__list-item-link">
              <i class="icon icon-logout icon-color-red"></i>
              <span class="user-menu__list-item-link">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>