<header class="header header-second">
  <div class="header__top">
      <a href="#" class="header__top__logo">
          <img src="./images/logo_small.svg" alt="logo_small">
      </a>
      <div class="header__top__menu">
          <a href="./">HOME</a>
          <a href="#">iSTARS 4.0</a>
      </div>
      <div class="header__top__profil">
          <a href="#">
              <img src="./images/user.png" alt="user">
              <span class="name">Johan Prince</span>
              <span class="mdi mdi-menu-down"></span>
          </a>
      </div>
  </div>
</header>