<header class="header header-second header-second-2">
  <div class="header__top">
        <a href="#" class="header__btnClose" data-action="control-sidebare">
            <span></span>
        </a>
        <a href="#" class="header__top__logo">
            <img src="./images/logo_small.svg" alt="logo_small">
        </a>
        <div class="header__top__profil">
          <a href="#">
              <img src="./images/user.png" alt="user">
              <span class="name">Johan Prince</span>
              <span class="mdi mdi-menu-down"></span>
          </a>
        </div>
  </div>
  <div class="header__bottom">
    <div class="container">
        <div class="header__menu">
            <ul class="menu" id="header-menu">
                <li class="menu__item"><a href="./">HOME</a></li>
                <li class="menu__item"><a href="about.html">ABOUT iSTARS</a></li>
                <li class="menu__item"><a href="catalogue.html">CATALOGUE</a></li>
                <li class="menu__item"><a href="remaining.html">SERVICES</a></li>
                <li class="menu__item"><a href="#">FORUM</a></li>
                <li class="menu__item"><a href="#">FAQ</a></li>
            </ul>
            <a href="#" class="header__btnClose" id="js-btn-menu"><span></span></a>
        </div>
    </div>
</div>
</header>