<button class="btn-square back-to-top">
  <svg width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M6.5 11L12 5.5M12 5.5L17.5 11M12 5.5L12 20" stroke="#fff" stroke-width="2"/>
  </svg>
    
</button>
<script src="./js/libs/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js?v=1"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="js/main.min.js"></script>

</body>
</html>