.portal{
    background-color: #388FC5;
    *{
        color:$white;
    }
    &__content{
        padding:100px 0;
    }
    &__subtitle{
        border-left:1px solid $white;
        padding-left:13px;
        margin-top:15px;
        margin-bottom:75px;
    }
    &__box{
        display:flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap:35px;
        margin-top:50px;
        @media (max-width:991px){
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            display:flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin-bottom: 35px;
            gap:25px;
            &__left{
                width:91px;
                height: 91px;
                border-radius: 8px;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                gap:5px;
                background-color: $white;
                img{
                    width:31px;
                }
                span{
                    font-family: "Barlow-Bold",sans-serif;
                    color:#21516F;
                    font-size: 16px;
                }
            }
            &__right{
                width:calc(100% - 91px);
                p{
                    line-height: 1.4rem;
                }
            }
            &:hover h4, &:hover p{
                color:$orange;
            }
        }
        &__left{
            width: calc(100% - 560px);
            @media (max-width:991px){
                width: 100%;
            }
        }
        &__right{
            width: 560px;
            @media (max-width:991px){
                
            }
        }
    }
}